.contact{
    .width100{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.profile-item{
    width: 100%;
    .contact_info {
        background: @secondary-color;
        border-radius: 10px;
        margin-bottom: 40px;
        padding: 10px;
        width: 345px;
        max-width: 100%;
        text-align: center;
        justify-content: center;
        .email_container{
            background: @link-color;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1px 0;
        }
        .coordinator_image{
            img{
                object-fit: cover;
                width: 324px;
                height: 274px;
                max-width: 100%;
            }
        }
        .coordinator_info{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            color: @heading-text-color!important;
            font-size: 18px!important;
            font-weight: 400!important;
            width: 100%;
            h3{
                display: flex;
                justify-content: start;
                padding: 0;
                margin: 0;
                .breakpoint-large-down({
                    display: flex;
                    justify-content: center;
                });
            }
            h3{
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                justify-content: center;
                color: @heading-text-color;
            }
            .btn{
                padding: 6px;
                width: 100%;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .breakpoint-large-down({
            width: 100%;
        });
    }
}

