.fc-toolbar {
    flex-direction: column;
}
.breakpoint-large({
    .fc-toolbar {
        flex-direction: row;
    }
});

.fc-button-primary:disabled{
    visibility: hidden;
    .breakpoint-large-down({
        display: none;
    })
}

.fc-button-group > .fc-button, .fc-button-group > .fc-button:not(:first-child), .fc-button-group > .fc-button:not(:last-child){
    background: @green-color!important;
    color: @white-color!important;
    border: 1px solid @green-color;
    border-radius: 10px;
}

.fc-button-group > .fc-button:hover, .fc-button-group > .fc-button:not(:first-child):hover, .fc-button-primary:not(:disabled).fc-button-active{
    background: @link-color!important;
    color:@white-color!important;
    border: 1px solid @link-color!important;
}

.fc-button-group > .fc-button{
    &.fc-prev-button{
        border-radius: 50% !important;
        background: @green-color !important;
        color: #ffffff !important;
        border: 1px solid @green-color;
    }
    &.fc-next-button{
        border-radius: 50% !important;
        background: @green-color !important;
        color: #ffffff !important;
        border: 1px solid @green-color;
    }
    .breakpoint-large-down({
        margin: 50px 3px;
    });

}

.fc-toolbar.fc-header-toolbar{
    display: flex;
}

.fc-left{
    order: 2;
    position: absolute;
    margin-left: 320px;
    .breakpoint-large-down({
        //order: 1;
        position: unset;
        margin-left: 0px;
    });
}

.fc-center{
    order: 1;
    h2{
        text-transform: none;
    }
}

.fc-right{
    order: 3;
}
.fc-button{
    .breakpoint-large-down({
        margin: 20px 5px 10px 5px!important;
    });

}

.fc-left .fc-button{
    padding: 6px;
    margin: 0 10px;
}

.fc-right .fc-button{
    padding: 5px 6px;
    margin: 0 10px;
    width: 80px;
}

.fc-right .fc-button:nth-of-type(3){
    margin: 0 0 0 10px;
}

.fc-event{
    background: @link-color!important;
    border-color: @link-color!important;
    padding: 6px 10px!important;
    border-radius: 10px!important;
}

.fc-view-container{
    background: @white-color;
    padding: 0px;
}

.fc-day-grid-event .fc-time{
    display: none;
}

.home{
    .event-items{
        .event_item{
            height: 141px;
            padding: 20px;
            background: @secondary-color;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid #DAEBEE;
            .breakpoint-large-down({
                margin-bottom: 40px;
                height: 165px;
            });
        }
        .news-title{
            font-size: 18px;
            line-height: 1.3em;
            color: @secondary-btn-color;
            margin-bottom: 20px;
        }

        .news-date{
            font-weight: 300;
            font-size: 14px;
            color: @date-text-color;
        }

        .read-more{
            font-size:16px;
            color: @link-color;
            position: relative;
            &:after{
                position: absolute;
                left: 84px;
                top: 14px;
                content: '';
                width: 11px;
                height: 1.5px;
                background: @link-color;
                transition: all 0.3s ease-in-out;
            }

            &:hover{
                opacity: 1;
                &:after{
                    right: -19px;
                    width: 16px;
                }
            }
        }
    }
}



.event-date{
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    background:@green-color ;
    color: @green-color!important;
    width: 220px;
    height: 48px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-place{
    color: @link-color;
    font-weight: 500;
}

.events .events_tabs{
    display: flex;
    align-items: center;
    width: fit-content;
    float: right;
    .divider{
        margin: 0 20px;
        font-size: 20px;
    }
    .breakpoint-large-down({
        width: fit-content;
        margin: 0 auto;
    });

    a{
        width: fit-content;
        cursor: pointer;
        color: @black-color;
        padding-left: 40px;
        float: left;
        transition: all 0.3s ease-in;
        .breakpoint-large-down({
            margin-left: 0px;
        });

        &:first-of-type{
            background: @secondary-color url("../../assets/images/list-view-icon.svg") center no-repeat;
            background-size: 24px;
            padding: 7px;
            height: 24px;
            width: 24px;
            line-height: 25px;
            border-radius: 5px;
            &.active{
                background: @link-color url("../../assets/images/list-view-icon-white.svg") center no-repeat;
                background-size: 24px;
                transform: translateX(0);
            }
            &.hover{
                opacity: 0.7;
            }

        }
        &:last-of-type{
            background: @secondary-color url("../../assets/images/calendar-icon.svg") center no-repeat;
            background-size: 24px;
            padding: 7px;
            height: 24px;
            width: 24px;
            line-height: 25px;
            border-radius: 5px;
            &.active{
                background: @link-color url("../../assets/images/calendar-view-icon-white.svg") center no-repeat;
                background-size: 24px;
                transform: translateX(0px);
            }
            &.hover{
                opacity: 0.7;
            }
        }
    }

}

.events{
    .tabs + div.row{
        width: 100%;
    }

    .single-news-item{
        width: 850px;
        max-width: 90%;
        margin: 50px auto;

        img{
            width: 743px;
            height: auto;
            border-radius: 10px;
        }

        .caption{
            font-size: 14px;
            color: @date-text-color;
            font-style: italic;
        }

        .location{
            font-size: 14px;
            color: @date-text-color;
            font-weight: 400;
        }

        h1.single-new-title{
            font-size: 18px;
            font-weight: 500;
            color: @heading-text-color;
        }

        .share_container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            padding: 0;
            color: @heading-text-color;
            font-weight: 500;
            margin-top: 40px;
            a{
                width: 35px;
                height: 35px;
                color: white;
                background: @link-color;
                border-radius: 6px;
                font-size: 1.3em!important;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                &:hover{
                    opacity: 0.5;
                }
                &.p-bluesky{
                    font-size: 0.8em!important;
                }
            }
        }

        .date_container{
            background: url("../../assets/images/events-date-background.png") center no-repeat;
            background-size: cover;
            color: white;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            min-height: 116px;
            font-weight: normal;
            text-transform: uppercase;
            border-radius: 10px;
            text-align: center;
            padding: 0;
            .breakpoint-large-down({
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: row;
                min-height: 50px;
                text-align: center;
                padding: 0;
                border-radius: 4px !important;
                margin-bottom: 20px;
            });
        }
        .date_day{
            font-size: 24px;
            width: 100%;
            color: @white-color;
            margin-bottom: 5px;
        }
        .date_month{
            font-size: 24px;
            width: 100%;
            color: @white-color;
            text-transform: uppercase;
        }
        .date_year{
            font-size: 24px;
            width: 100%;
            color: @white-color;
        }

    }
}


.events{

    .container{
        padding: 45px 10px;
    }

    .container:has(.events_tabs){
        position: relative;
        .breakpoint-large-down({
            padding: 45px 10px 0 10px;
        });

    }

    .newslist .col-xs-12:first-child{
        display: unset!important;
    }

    .news-title {
        margin-left: 0;
    }
    img{
        width: unset;
        //margin: 0;
    }
    .single-news-item{
        .event-date{
            color: @link-color;
            margin: 0px 0 0px 0px;
        }
    }

}


.fc-listYear-button.fc-button.fc-button-primary{
    display: none;
}

.fc-button-primary{
    background: @green-color!important;
    border-radius: 10px!important;
    &:hover{
        cursor: pointer;
        background: @link-color!important;
    }
}

.events_list_container{
    width: 100%;
    h1{
        color: @heading-text-color;
    }
    .entry_item{
        color: white;
        font-size: 20px;
        font-weight: normal;
        padding: 0;
        border-radius: 10px;
        background: @secondary-color;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;

        .date_container{
            background: url("../../assets/images/events-date-background.png") center no-repeat;
            background-size: cover;
            color: white;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            min-height: 116px;
            font-weight: normal;
            text-transform: uppercase;
            border-radius: 10px;
            text-align: center;
            padding: 0;
            .breakpoint-large-down({
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: row;
                min-height: 50px;
                text-align: center;
                padding: 0;
                border-radius: 4px !important;
                margin-bottom: 20px;
            });
        }
        .body_container{
            padding-left: 30px;
            display: flex;
            .breakpoint-large-down({
                flex-direction: column;
            });
        }
        .col-md-9.col-xs-12{
            // display: flex;
            align-items: center;
        }

        &:last-of-type{
            border-bottom: none;
        }

        span{
            line-height: 26px;
            width: 100%;
            display: block;
        }


        h3{
            font-size: 24px;
            color: @white-color;
            font-weight: bold;
            text-align: left!important;
            .breakpoint-large-down({
                text-align: center!important;
            });
        }

        .date_day{
            font-size: 24px;
            width: 100%;
            color: @white-color;
            margin-bottom: 5px;
        }
        .date_month{
            font-size: 24px;
            width: 100%;
            color: @white-color;
            text-transform: uppercase;
        }
        .date_year{
            font-size: 24px;
            width: 100%;
            color: @white-color;
        }

        .date_week{
            font-size: 19px;
            line-height: 1.3em;
            font-weight: 600;
            width: 100%;
            color: @heading-text-color;
            .breakpoint-large-down({
                font-size: 18px;
            });

        }
        .col-md-9.col-xs-12{
            padding-left: 30px;
            .breakpoint-large-down({
                padding-left: 10px;
            });
        }

        img{
            border-radius: 10px;
            float: left;
            margin-right: 30px;
            width: 196px;
            height: auto;
            max-height: 113px;
            object-fit: cover;
            object-position: top;
            .breakpoint-large-down({
                float: none;
                margin-right: 0;
                width: 100%;
                height: auto;
                object-fit: cover;
            });
        }

        .body{
            font-size: 17px;
            font-weight: 400;
            .breakpoint-large-down({
                font-size: 18px;
            });
        }

        .breakpoint-large-down({
            width: 90%;
            margin: 30px auto;
            padding-bottom: 10px;
        });

    }
}

.event-more, .read-more-events{
    display: flex;
    align-items: end;
    justify-content: end;

    color: transparent;

    .read-more {
        display: flex;
        justify-content: end;
        align-items: center;
        color: transparent;
        background: url("../../assets/images/Arrow.svg") center no-repeat;
        background-size: 23px;
        &:hover{
            opacity: 0.5;
        }
    }
}

.events{

    .category-tabs-container{

        position: relative;
        width: 100%;


        .filter-fields-container{
            width: 80%;
            position: absolute;
            top: -90px;

            .breakpoint-large-down({
                width: 100%;
            });
            .col-xs-12{
                padding: 0;
            }

            .sort-field{
                margin-right: 10px;
            }
        }

        /*
    * Sort fields
    **/
        .sort-field{
            padding-left: 0;
            input{
                box-shadow: none !important;
                font-size: 14px !important;
                color: #C2C3C5 !important;
                font-weight: 500;
            }

            .selectize-input{
                border-radius: 5px !important;
                border: 1px solid @border-color !important;
                padding: 10px 12px !important;
                color: #C2C3C5;
                background: none;
                box-shadow: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 19.2px;
                letter-spacing: 0;
                vertical-align: middle;

                &:after {
                    content: '';
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -5px;
                    width: 10px;
                    height: 10px;
                    background: url('../../assets/images/arrow-down-black.svg') no-repeat center center;
                    background-size: contain;
                    pointer-events: none;
                    transition: transform 0.3s ease;
                    border: none;
                }

                &:hover:after {
                    transform: rotate(180deg);
                    margin-top: -5px;
                    opacity: 0.6;
                }

            }
            .selectize-control.single .selectize-input{
                background-color: @white-color !important;
            }

            .selectize-dropdown{
                border-radius: 5px !important;
                box-shadow: none;
            }
            .dropdown-active{
                border-bottom: none !important;
                border-bottom-left-radius: 1px !important;
                border-bottom-right-radius: 1px !important;

            }
            .selectize-dropdown-content{
                border: none;
                border-radius: 5px;
                font-weight: 500;
                font-size: 14px;
                line-height: 19.2px;
                letter-spacing: 0;
                vertical-align: middle;


                .active, .selected{
                    background-color: #EFF5F8 !important;
                    color: #004047!important;
                    border-radius: 6px;
                }

                div{
                    padding: 10px 12px !important;
                }
            }

            .selectize-dropdown{
                border:none !important;
                border-radius: 5px;
                margin-top: 10px;
                color: #004047;

            }

            .selectize-dropdown .selected{
                background-color: #EFF5F8 !important;
                color: #004047!important;
            }
            .breakpoint-small-down({
                padding: unset !important;
            })
        }
    }
}
