.content_flyer,
.content_press,
.content_video,
.content_newsletter,
.content_logo{
    display: flex;
    .breakpoint-large-down({
        justify-content: center;
    });

}

.flyer-container,
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    outline: none;
    background: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 10px;

    img{
        width: 609px;
        height: 409px;
        object-fit: cover;
        max-width: 100%;
        border-radius: 10px;
        -webkit-transition: all 0.5s ease; /* Safari and Chrome */
        -moz-transition: all 0.5s ease; /* Firefox */
        -ms-transition: all 0.5s ease; /* IE 9 */
        -o-transition: all 0.5s ease; /* Opera */
        transition: all 0.5s ease;
        &:hover{
            -webkit-transform:scale(1.2); /* Safari and Chrome */
            -moz-transform:scale(1.2); /* Firefox */
            -ms-transform:scale(1.2); /* IE 9 */
            -o-transform:scale(1.2); /* Opera */
            transform:scale(1.2);
        }
    }
    .name_label{
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        font-size: 23px;
        // font-weight: 500;
    }

}

.newsletters{
    .btn-primary, button{
        height: 47px;
        display: flex;
        align-items: center;
    }
}

.press-releases{
    .category-tabs-container{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;


        a{
            padding-bottom: 10px;
            width: fit-content;
            cursor: pointer;
            font-size: 20px;
            font-style: normal;
            color: @heading-text-color;
            text-transform: capitalize;
            margin-right: 30px;
            opacity: 0.65;
            .breakpoint-small-down({
                display: block;
                margin-left: 0px;
                margin-right: 0px;
                width: 100%;
                padding: 5px 0;
            });

            &:hover, &.active{
                opacity: 1;
                font-weight: 600;
            }

        }
        .category-tabs{
            .breakpoint-large-down({
                display: flex;
                align-items: center;
                justify-content: center;
            });
        }
        .breakpoint-large-down({
            margin-left: unset;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
        });
    }


    .press-relies-item{
        max-width: 100%;
        margin: 0 auto 30px auto;
        padding: 30px!important;
        position: relative;
        background: @secondary-color;
        border-radius: 8px;

        .breakpoint-large-down({
            width: auto;
        });

        .card-title{
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: -0.02em;
        }

        .date{
            color: #8C99A0;
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: -0.02em;
            margin-bottom: 20px;
        }

        .btn.btn-primary{
            margin-right: 10px;
            .breakpoint-large-down({
                margin-right: 0;
                margin-bottom: 20px;
            });
        }
    }
}
