{% for record in records %}
<div class="col-md-4 col-xs-12 news-item center-xs center-md">
    <div class="row news_column">
        <a href="{{'news'|page}}/{{record.slug}}">
            {% if record.cover %}
            <div class="news-image col-xs-12 center-xs">
                <img class="news-img-top" src="{{record.cover.getThumb(357, 251, {'mode': 'crop'})}}">
            </div>
            {% endif %}
        </a>
        {% if record.external == 0 %}
        <div class="internal_label">IP4OS News</div>
        {% endif %}
        <div class="news-container col-xs-12">
            <div class="text-published">{{record.published_at|date("j M Y")}}</div>
            <div class="news-title">
                <a href="{{'news'|page}}/{{record.slug}}"><h3 class="card-title">{{ record.title|length > 60 ? record.title|striptags|slice(0, 60)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.title|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</h3></a>
            </div>
            <div class="row read-more-row">
                <a class="read-more" href="{{'news'|page}}/{{record.slug}}">{{'Read more' |_}}</a>
            </div>
        </div>


    </div>

</div>
{% endfor %}
