<svg xmlns="http://www.w3.org/2000/svg" width="364" height="1128" viewBox="0 0 364 1128" fill="none">
    <g filter="url(#filter0_d_5117_1588)">
        <path d="M128.887 2.50005C88.9996 48.3008 11.5238 156.57 20.7208 223.241C32.2172 306.579 342.03 342.669 337.103 471.032C330.5 643.032 52.4989 666.031 66.9993 812.032C82.3284 966.375 256.378 948.424 225.999 1077.36" class="draw-path" stroke="#199CA3" stroke-opacity="0.26" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges"/>
    </g>
    <defs>
        <filter id="filter0_d_5117_1588" x="-6.53125" y="0" width="370.192" height="1127.86" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="24"/>
            <feGaussianBlur stdDeviation="12"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.215686 0 0 0 0 0.203922 0 0 0 0 0.662745 0 0 0 0.3 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_5117_1588"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_5117_1588" result="shape"/>
        </filter>
    </defs>
</svg>
