url = "/posters"
layout = "default"
title = "Posters"

[builderList mediaDocumentsList]
modelClass = "pensoft\Media\Models\Documents"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Pensoft\Media\Models\Documents;
use System\Models\File;

function onStart(){
	$this['mediaDocumentsList'] =  Documents::get();
	if(get('download')){
		$file = File::find((int)get('download'));
		$file_name = $file->getLocalPath();
$recordName = get('file_name') ? get('file_name') : 'IP4OS_documents';
$ext= $file->getExtension();

if (file_exists($file_name)) {
header('Content-Description: File Transfer');
header('Content-Type: application/octet-stream');
header("Content-Type: application/force-download");
header('Content-Disposition: attachment; filename='.$recordName .'.'. $ext);
header('Content-Transfer-Encoding: binary');
header('Expires: 0');
header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
header('Pragma: public');
header('Content-Length: ' . filesize($file_name));
ob_clean();
flush();
readfile($file_name);
exit();
}
return Redirect::to('/posters');
}

}

function onDownloadFile(){
$file = File::find(post('id'));
$pathToFile = $file->getLocalPath();
$fileName = $file->file_name;
$fileType = $file->content_type;
$headers = [
'HTTP/1.1 200 OK',
'Pragma: public',
'Content-Type: '.$fileType,
'Content-Type: application/force-download'
];

return Response::download($pathToFile, $fileName, $headers);
}
?>
==
<div class="container">
    {% set records = mediaDocumentsList %}
    {% set displayColumn = mediaDocumentsList.displayColumn %}
    {% set noRecordsMessage = mediaDocumentsList.noRecordsMessage %}
    {% set detailsPage = mediaDocumentsList.detailsPage %}
    {% set detailsKeyColumn = mediaDocumentsList.detailsKeyColumn %}
    {% set detailsUrlParameter = mediaDocumentsList.detailsUrlParameter %}

    <div class="row">
        <div class="col-xs-12">
            <div class="go_back mt-2 mb-2">
                <a href="/promotional-materials">Back</a>
            </div>

        </div>
    </div>
    {% if records.count() %}
    <div class="row">
        {% for record in records %}
        <div class="col-md-6 col-xs-12 mb-1">
            {{form_open({ request: 'onDownloadFile' }) }}
            <input type="hidden" value="{{record.file.id}}" name="id">
            <button class="flyer-container {{record.name}}" type="submit" data-attach-loading>
                <img src="{{record.image.path}}" title="{{record.title}}">
                <div class="name_label">{{record.title}}</div>
            </button>
            {{ form_close() }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
