url = "/promotional-materials"
layout = "default"
title = "Promotional materials"

[builderList mediaFlyersList]
modelClass = "pensoft\Media\Models\Flyers"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Pensoft\Media\Models\Flyers;
use System\Models\File;

function onStart(){
	$this['mediaFlyersList'] =  Flyers::get();
	if(get('download')){
		$file = File::find((int)get('download'));
		$file_name = $file->getLocalPath();
$recordName = get('file_name') ? get('file_name') : 'OBSGESSION_flyer';
$ext= $file->getExtension();

if (file_exists($file_name)) {
header('Content-Description: File Transfer');
header('Content-Type: application/octet-stream');
header("Content-Type: application/force-download");
header('Content-Disposition: attachment; filename='.$recordName .'.'. $ext);
header('Content-Transfer-Encoding: binary');
header('Expires: 0');
header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
header('Pragma: public');
header('Content-Length: ' . filesize($file_name));
ob_clean();
flush();
readfile($file_name);
exit();
}
return Redirect::to('/flyer');
}

}

function onDownloadFile(){
$file = File::find(post('id'));
$pathToFile = $file->getLocalPath();
$fileName = $file->file_name;
$fileType = $file->content_type;
$headers = [
'HTTP/1.1 200 OK',
'Pragma: public',
'Content-Type: '.$fileType,
'Content-Type: application/force-download'
];

return Response::download($pathToFile, $fileName, $headers);
}
?>
==
<div class="container">
    {% set records = mediaFlyersList %}
    {% set displayColumn = mediaFlyersList.displayColumn %}
    {% set noRecordsMessage = mediaFlyersList.noRecordsMessage %}
    {% set detailsPage = mediaFlyersList.detailsPage %}
    {% set detailsKeyColumn = mediaFlyersList.detailsKeyColumn %}
    {% set detailsUrlParameter = mediaFlyersList.detailsUrlParameter %}

    {% if records.count() %}
    <div class="row">
        {% for record in records %}
        <div class="col-md-6 col-xs-12 mb-1">
            {{form_open({ request: 'onDownloadFile' }) }}
            <input type="hidden" value="{{record.file.id}}" name="id">
            <button class="flyer-container {{record.name}}" type="submit" data-attach-loading>
                <img src="{{record.flyer_image.path}}" title="{{record.name}}">
                <div class="name_label">{{record.name}}</div>
            </button>
            {{ form_close() }}
        </div>
        {% endfor %}
        <div class="col-md-6 col-xs-12 mb-1">
            <a class="flyer-container" href="{{'press-releases'|page}}">
                <img src="{{'Press-releases-image.png'|media}}" title="Press releases">
                <div class="name_label">Press releases</div>
            </a>
        </div>
    </div>
    {% endif %}
</div>