url = "/resources"
layout = "default"
title = "Resources"

[siteSearchInclude]

[jumbotron resources]
jumbotron = "resources"
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron papers]
jumbotron = "papers-tab"
background = "transperant"
templates = "template3"
description_limit = 0


[LibraryPage]
templates = "template7"
has_search = 1
add_file_name = 1
no_records_message = ""
redirect_to_download_page = 1
milestones_filter = 1

==
<?php
use Pensoft\Media\Models\Webinars;
use Pensoft\Library\Models\Library;
use System\Models\File;

function onStart(){
	$this['testimonials'] =  Webinars::where('category_id', 1)->get();
	$this['webinars'] =  Webinars::where('category_id', 2)->get();
    $this['library'] = Library::orderBy('title', 'asc')->get();

    if(get('download')){
        $file = File::find((int)get('download'));
        $file_name = $file->getLocalPath();
        $recordName = get('file_name') ? get('file_name') : 'IP4OS_video';
        $ext= $file->getExtension();

            if (file_exists($file_name)) {
                header('Content-Description: File Transfer');
                header('Content-Type: application/octet-stream');
                header("Content-Type: application/force-download");
                header('Content-Disposition: attachment; filename='.$recordName .'.'. $ext);
                header('Content-Transfer-Encoding: binary');
                header('Expires: 0');
                header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
                header('Pragma: public');
                header('Content-Length: ' . filesize($file_name));
                ob_clean();
                flush();
                readfile($file_name);
                exit();
            }
        return Redirect::to('/videos');
    }
}


function onDownloadFile(){
    $file = File::find(post('id'));
    $pathToFile = $file->getLocalPath();
    $fileName = $file->file_name;
    $fileType = $file->content_type;
    $headers = [
        'HTTP/1.1 200 OK',
        'Pragma: public',
        'Content-Type: '.$fileType,
        'Content-Type: application/force-download'
    ];

    return Response::download($pathToFile, $fileName, $headers);
}
?>
==
{% component 'siteSearchInclude' %}

{% component 'resources' %}

<div class="container800">
    <div class="resources_tabs mb-4">
        <div class="tab-container">
            <div class="tab-wrap">
                <span class="border"></span>
                <ul>
                    <li class="active"><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#webinars">Webinars</a></li>
                    <li><a href="#papers">Papers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container800">
    <div id="testimonials">
        <div class="row mt-4">
            {% set records = testimonials %}
            {% if records.count() %}
            {% for record in records %}
            <div class="col-md-6 col-xs-12">

                {% if record.youtube_url %}
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="{{record.youtube_url}}" width="100%" height="267"></iframe>
                {% endif %}

                {% if record.vimeo_url %}
                <iframe width="100%" height="267" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        src="{{record.vimeo_url}}">
                </iframe>

                {% endif %}
                <p class="card_title">{{ record.name|length > 65 ? record.name|striptags|slice(0, 65)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.name|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</p>
                {% if record.description %}
                <p class="card_description">{{ record.description|raw  }}</p>
                {% endif %}
                {% if record.file %}
                <div class="links">
                    <div class="button_su">
                        <!--<video controls="" width="100%" height="267"><source src="{{record.file.path}}" type="video/mp4"></video>-->
                        <span class="su_button_circle desplode-circle"></span>
                        <a class="button_su_inner" href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.name|replace({' ': '_'})}}"><span class="button_text_container"><i class="pr normal p-download"></i>Download</span></a>
                    </div>
                </div>
                {% endif %}
            </div>

            {% endfor %}

            {% endif %}
        </div>
    </div>
</div>
<div class="container800">
    <div id="webinars">
        <div class="row mt-4" >

            {% set records = webinars %}
            {% if records.count() %}
            {% for record in records %}
            <div class="col-md-6 col-xs-12">

                {% if record.youtube_url %}
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="{{record.youtube_url}}" width="100%" height="267"></iframe>
                {% endif %}

                {% if record.vimeo_url %}
                <iframe width="100%" height="267" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        src="{{record.vimeo_url}}">
                </iframe>

                {% endif %}
                <p class="card_title">{{ record.name|length > 65 ? record.name|striptags|slice(0, 65)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.name|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</p>
                {% if record.description %}
                <p class="card_description">{{ record.description|raw  }}</p>
                {% endif %}

                {% if record.file %}
                <div class="links">
                    <div class="button_su">
                        <!--<video controls="" width="100%" height="267"><source src="{{record.file.path}}" type="video/mp4"></video>-->
                        <span class="su_button_circle desplode-circle"></span>
                        <a class="button_su_inner" href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.name|replace({' ': '_'})}}"><span class="button_text_container"><i class="pr normal p-download"></i>Download</span></a>
                    </div>
                </div>
                {% endif %}
            </div>

            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div id="papers">
        {% component 'papers' %}





        <div class="record-search mb-2">
            <div class="row">
                <div class="col-xs-12 filter-fields-container">
                    <div class="row between-md around-xs">
                        <div class="col-md-6 col-xs-12 start-md center-xs">
                            <div class="sort-field sort-dropdown">
                                <select id="sortType" name="sortType">
                                    <option value="0">{{'All documents' |_}}</option>
                                    <option value="1">{{'Deliverables' |_}}</option>
                                    <option value="2">{{'Relevant Publications' |_}}</option>
                                    <option value="3">{{themeName}} {{'Publications' |_}}</option>
                                </select>
                            </div>

                            <div class="sort-field sort-dropdown">
                                <select id="sortOrder" name="sortOrder">
                                    {% for k, sort in sortOptions %}
                                    <option value="{{k}}">{{sort}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 end-md center-xs">
                            <div class="clear-filter">
                                <a id="clearFilter" href="javascript:void(0);">{{'Clear filters' |_}}</a>
                            </div>
<!--                            <div class="apply-filter">-->
<!--                                <a id="applyFilter" class="btn btn-primary">{{'Apply filter' |_}}</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="recordsContainer">
            {% partial 'library_records' records=library %}
        </div>



    </div>
</div>


<script>
    $(document).ready(function () {
        var activePos = $('.tab-wrap .active').position();

        function changePos() {
            activePos = $('.tab-wrap .active').position();
            $('.border').stop().css({
                left: activePos.left,
                width: $('.tab-wrap .active').width()
            });
        }

        changePos();

        function changeTab() {
            var getTabId = $('.tab-wrap .active a').attr('tab-id');

            $('.tab').stop().fadeOut(300, function () {
                $(this).removeClass('active');
            }).hide();

            $('.tab[tab-id=' + getTabId + ']').stop().fadeIn(300, function () {
                $(this).addClass('active');
                animateTabHeight();
            });
        }

        $('.tab-wrap a').on('click', function (e) {
            e.preventDefault();
            var tabId = $(this).attr('tab-id');

            $('.tab-wrap a').stop().parent().removeClass('active');

            $(this).stop().parent().addClass('active');

            changePos();

            tabCurrentItem = tabItems.filter('.active');

            $('.tab').stop().fadeOut(300, function () {
                $(this).removeClass('active');
            }).hide();

            $('.tab[tab-id="' + tabId + '"]').stop().fadeIn(300, function () {
                $(this).addClass('active');
                animateTabHeight();
            });
        });

        var tabItems = $('.tab-wrap ul li');
        var tabCurrentItem = tabItems.filter('.active');
    });
</script>
