url = "/resources"
layout = "default"
title = "Resources"

[siteSearchInclude]

[jumbotron resources]
jumbotron = "resources"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Media\Models\Webinars;
use System\Models\File;

function onStart(){
	$this['testimonials'] =  Webinars::where('category_id', 1)->get();
	$this['webinars'] =  Webinars::where('category_id', 2)->get();
if(get('download')){
$file = File::find((int)get('download'));
$file_name = $file->getLocalPath();
$recordName = get('file_name') ? get('file_name') : 'IP4OS_video';
$ext= $file->getExtension();

if (file_exists($file_name)) {
header('Content-Description: File Transfer');
header('Content-Type: application/octet-stream');
header("Content-Type: application/force-download");
header('Content-Disposition: attachment; filename='.$recordName .'.'. $ext);
header('Content-Transfer-Encoding: binary');
header('Expires: 0');
header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
header('Pragma: public');
header('Content-Length: ' . filesize($file_name));
ob_clean();
flush();
readfile($file_name);
exit();
}
return Redirect::to('/videos');
}
}


function onDownloadFile(){
$file = File::find(post('id'));
$pathToFile = $file->getLocalPath();
$fileName = $file->file_name;
$fileType = $file->content_type;
$headers = [
'HTTP/1.1 200 OK',
'Pragma: public',
'Content-Type: '.$fileType,
'Content-Type: application/force-download'
];

return Response::download($pathToFile, $fileName, $headers);
}
?>
==
{% component 'siteSearchInclude' %}
<div class="container800">
{% component 'resources' %}
    <div class="resources_tabs mb-4">
        <div class="tab-container">
            <div class="tab-wrap">
                <span class="border"></span>
                <ul>
                    <li class="active"><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#webinars">Webinars</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="testimonials">
        <div class="row mt-4">
            {% set records = testimonials %}
            {% if records.count() %}
            {% for record in records %}
            <div class="col-md-6 col-xs-12">

                {% if record.youtube_url %}
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="{{record.youtube_url}}" width="100%" height="267"></iframe>
                {% endif %}

                {% if record.vimeo_url %}
                <iframe width="100%" height="267" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        src="{{record.vimeo_url}}">
                </iframe>

                {% endif %}
                <p class="card_title">{{ record.name|length > 65 ? record.name|striptags|slice(0, 65)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.name|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</p>
                {% if record.file %}
                <div class="links">
                    <div class="button_su">
                        <!--<video controls="" width="100%" height="267"><source src="{{record.file.path}}" type="video/mp4"></video>-->
                        <span class="su_button_circle desplode-circle"></span>
                        <a class="button_su_inner" href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.name|replace({' ': '_'})}}"><span class="button_text_container"><i class="pr normal p-download"></i>Download</span></a>
                    </div>
                </div>
                {% endif %}
            </div>

            {% endfor %}

            {% endif %}
        </div>
    </div>
    <div id="webinars">
        <div class="row mt-4" >

            {% set records = webinars %}
            {% if records.count() %}
            {% for record in records %}
            <div class="col-md-6 col-xs-12">

                {% if record.youtube_url %}
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="{{record.youtube_url}}" width="100%" height="267"></iframe>
                {% endif %}

                {% if record.vimeo_url %}
                <iframe width="100%" height="267" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        src="{{record.vimeo_url}}">
                </iframe>

                {% endif %}
                <p class="card_title">{{ record.name|length > 65 ? record.name|striptags|slice(0, 65)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.name|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</p>
                {% if record.file %}
                <div class="links">
                    <div class="button_su">
                        <!--<video controls="" width="100%" height="267"><source src="{{record.file.path}}" type="video/mp4"></video>-->
                        <span class="su_button_circle desplode-circle"></span>
                        <a class="button_su_inner" href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.name|replace({' ': '_'})}}"><span class="button_text_container"><i class="pr normal p-download"></i>Download</span></a>
                    </div>
                </div>
                {% endif %}
            </div>

            {% endfor %}
            {% endif %}
        </div>
    </div>



<script>
    $(document).ready(function () {
        var activePos = $('.tab-wrap .active').position();

        function changePos() {
            activePos = $('.tab-wrap .active').position();
            $('.border').stop().css({
                left: activePos.left,
                width: $('.tab-wrap .active').width()
            });
        }

        changePos();

        function changeTab() {
            var getTabId = $('.tab-wrap .active a').attr('tab-id');

            $('.tab').stop().fadeOut(300, function () {
                $(this).removeClass('active');
            }).hide();

            $('.tab[tab-id=' + getTabId + ']').stop().fadeIn(300, function () {
                $(this).addClass('active');
                animateTabHeight();
            });
        }

        $('.tab-wrap a').on('click', function (e) {
            e.preventDefault();
            var tabId = $(this).attr('tab-id');

            $('.tab-wrap a').stop().parent().removeClass('active');

            $(this).stop().parent().addClass('active');

            changePos();

            tabCurrentItem = tabItems.filter('.active');

            $('.tab').stop().fadeOut(300, function () {
                $(this).removeClass('active');
            }).hide();

            $('.tab[tab-id="' + tabId + '"]').stop().fadeIn(300, function () {
                $(this).addClass('active');
                animateTabHeight();
            });
        });

        var tabItems = $('.tab-wrap ul li');
        var tabCurrentItem = tabItems.filter('.active');
    });
</script>
